.section-main-page {
    padding: 0 16px;

    nav {
        display:         flex;
        flex-direction:  column;
        flex-wrap:       nowrap;
        justify-content: center;
        align-items:     center;
        height:          calc(100vh - var(--padding-main-page-bottom));
        width:           100%;
        max-width:       640px;
        margin:          0 auto;

        > ul {
            width:      100%;
            list-style: none;
            padding:    0;
            margin:     0;

            > li {
                a {
                    display:         flex;
                    flex-direction:  row;
                    flex-wrap:       nowrap;
                    justify-content: flex-start;
                    align-items:     center;
                    border:          1px solid var(--color-primary);
                    border-radius:   4px;
                    margin:          15px 0;
                    padding:         5px 15px;
                    font-size:       15px;
                    font-weight:     500;
                    line-height:     18px;
                    letter-spacing:  -0.3px;
                    text-decoration: none;
                    color:           #000000;
                    outline:         none;

                    .icon {
                        img {
                            display:         block;
                            width:           48px;
                            height:          48px;
                            object-fit:      contain;
                            object-position: center center;
                        }
                    }

                    .text {
                        padding: 0 15px;
                    }

                    &:hover, &:focus, &:active {
                        background:   rgba(48, 176, 0, 0.05);
                        border-color: #25b00d;
                    }
                }
            }
        }
    }
}