:root {
    font-size:            16px;
    font-family:          Roboto, sans-serif;
    line-height:          1.4;

    --horizontal-padding: 16px;
    --color-primary:      #4bd827;
    --color-primary-dark: #45be26;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin:     0;
    padding:    0;
    background: #f3f7fa;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 0.5em;

    &:last-child {
        margin-bottom: 0;
    }
}

.container {
    width:     100%;
    max-width: 770px;
    margin:    0 auto;
}

header {
    position:   relative;
    background: var(--color-primary);
    margin:     0 0 15px;
    min-height: 50px;
    box-shadow: 0 0 15px #dddddd;

    nav {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;
        justify-content: space-between;
        align-items:     center;
        padding:         0;

        a.back-link {
            display:         inline-block;
            padding:         14px var(--horizontal-padding);
            color:           white;
            text-decoration: none;
            font-weight:     500;
            font-size:       14px;
            line-height:     22px;

            i.fa {
                display:   inline-block;
                position:  relative;
                top:       -1px;
                margin:    0 4px 0 0;
                font-size: 0.85em;
            }
        }

        img {
            display:         block;
            width:           24px;
            height:          24px;
            margin:          0 var(--horizontal-padding);
            object-fit:      contain;
            object-position: center center;
        }
    }
}

main {
    padding-bottom: 80px;
}

footer {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       nowrap;
    justify-content: center;
    align-items:     center;
    position:        fixed;
    bottom:          0;
    left:            0;
    width:           100%;
    background:      white;
    padding:         0 var(--horizontal-padding);
    box-shadow:      0 0 5px #c0c0c0;

    nav {
        width: 100%;

        ul {
            display:         flex;
            flex-direction:  row;
            flex-wrap:       nowrap;
            justify-content: space-around;
            align-items:     center;
            list-style:      none;
            width:           100%;
            margin:          0 auto;
            padding:         0;

            > li {
                a {
                    display: block;
                    padding: 13px;

                    img {
                        display: block;
                        width:   auto;
                        height:  24px;
                    }
                }
            }
        }
    }
}

.page-controls {
    padding: 0 var(--horizontal-padding);

    a, button {
        margin:         0 0 10px;
        padding:        20px;
        font-size:      16px;
        font-weight:    400;
        line-height:    1;
        text-transform: none;

        &.create {
            background: var(--color-primary);
            border:     1px solid var(--color-primary);
            color:      white;
        }

        &.update {
            color:  var(--color-primary);
            border: 1px solid var(--color-primary);
        }

        &.delete {
            background: #f47458;
            border:     1px solid #f47458;
            color:      white;
        }
    }
}

.section-form {
    margin:  0 0 35px;
    padding: 0 var(--horizontal-padding);

    .help-block {
        font-size:   14px;
        line-height: 16px;
        color:       #898989;
    }
}

.MuiButtonBase-root.btn-float-add {
    position:   fixed;
    bottom:     65px;
    right:      15px;
    background: var(--color-primary);
    color:      white;

    &:hover, &:active, &:focus {
        background: var(--color-primary-dark);
    }
}

.MuiSelect-selectMenu,
ul.MuiMenu-list > li {
    span.arrow-right {
        display:             inline-block;
        width:               12px;
        height:              12px;
        background:          url(/img/icon-arrow-right.png);
        background-size:     contain;
        background-repeat:   no-repeat;
        background-position: center center;
        margin:              0 4px;
    }
}

.MuiSelect-selectMenu {
    span.arrow-right {
        position:    relative;
        top:         2px;
        padding-top: 6px;
    }
}
